<div class="container animated fadeIn fast">
    <div class="vh-100 vertical-align">
        <h1 class="text-light-violet mb-5"><b>WELCOME, {{user.username | uppercase}}</b></h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-3">
                    <h3 class="text-light-violet"><b>YOUR INFO</b></h3>
                </div>
                <div>
                    <ul class="list-group text-white-50">
                        <li class="list-group-item bg-transparent border-0"><b class="mr-3">Username:</b>{{user.username}}</li>
                        <li class="list-group-item bg-transparent border-0"><b class="mr-3">Name:</b>{{user.name}}</li>
                        <li class="list-group-item bg-transparent border-0"><b class="mr-3">Lastname:</b>{{user.lastname}}</li>
                        <li class="list-group-item bg-transparent border-0"><b class="mr-3">Email:</b>{{user.email}}</li>
                        <li class="list-group-item bg-transparent border-0"><b class="mr-3">Created:</b>{{user.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</li>
                        <li class="list-group-item bg-transparent border-0"><b class="mr-3">Modificated:</b>{{user.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <h3 class="text-light-violet"><b>UPDATE YOUR INFO</b></h3>
                <form [formGroup]="updateForm">
                    <div class="form-group text-light-pink">
                        <label for="inputUserName"><b>USER NAME</b></label>
                        <input type="text" class="form-control" id="User" aria-describedby="UserNameHelp" placeholder="Username" formControlName="username">
                    </div>
                    <div class="form-group text-light-pink">
                        <label for="inputName"><b>NAME</b></label>
                        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Name" formControlName="name">
                    </div>
                    <div class="form-group text-light-pink">
                        <label for="inputLastName"><b>LASTNAME</b></label>
                        <input type="text" class="form-control" id="inputLastName" aria-describedby="LastNameHelp" placeholder="Lastname" formControlName="lastname">
                    </div>
                    <div class="form-group text-light-pink">
                        <label for="inputemail"><b>EMAIL</b></label>
                        <input type="email" class="form-control" id="inputemail" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
                    </div>
                </form>
            </div>
            <div class="col-lg-3">
                <h3 class="text-light-violet"><b>OPTIONS</b></h3>
                <input type="button" class="button btn-block btn-warning mt-4 text-white" value="Update info" (click)="updateUser()">
                <input type="button" class="button btn-block btn-info mt-4" value="See all profiles" [routerLink]="['/allusers']">
                <input type="button" class="button btn-block btn-danger mt-4" value="Delete profile" (click)="deleteUser(user._id)">
                <input type="button" class="button btn-block btn-secondary mt-4" value="Close session" (click)="closeSession()">
            </div>
        </div>
    </div>
</div>
<app-correct-modal></app-correct-modal>