<div id="correctModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content border-0">
            <div class="modal-header correct-modal-header">
                <h5 class="modal-title text-uppercase text-white-50">Message</h5>
            </div>
            <div class="modal-body text-center text-uppercase text-black-50">
                <p id="correctModalMessage"></p>
                <i class="fas fa-check-circle fa-3x"></i>
            </div>
            <div class="modal-footer">
                <button type="button" class="button btn-block btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>