<app-fail-modal></app-fail-modal>
<div class="container w-50 animated fadeInLeft fast">
    <div class="vh-100 vertical-align">
        <div class="mb-3">
            <h1 class="text-light-violet"><b>LOGIN</b></h1>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group text-light-pink">
                <label for="inputUserName"><b>USERNAME</b></label>
                <input type="text" class="form-control" id="User" aria-describedby="UserNameHelp" placeholder="Username" formControlName="username">
            </div>
            <div class="form-group text-light-pink">
                <label for="inputPassword"><b>PASSWORD</b></label>
                <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Password" formControlName="password">
            </div>
            <div class="text-right">
                <input class="button button-primary" type="submit" value="Login">
            </div>

        </form>
        <div class="mt-5 text-center">
            <p class="text-white-50"><b>If you have not an account yet, you can sign up now!</b></p>
            <input class="button button-primary" type="button" value="sign up" routerLink="/sign_up">
        </div>
    </div>
</div>