<div class="container animated fadeIn fast">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-light-violet mt-5"><b>ALL USERS</b></h3>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{user.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
