<app-correct-modal></app-correct-modal>
<app-fail-modal></app-fail-modal>

<div class="container w-50 animated fadeInRight fast">
    <div class="vh-100 vertical-align">
        <div class="mb-3">
            <h1 class="text-light-violet"><b>SIGN UP</b></h1>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="form-group text-light-pink">
                <label for="inputUserName"><b>USER NAME</b></label>
                <input type="text" class="form-control" id="User" aria-describedby="UserNameHelp" placeholder="Username" formControlName="username">
            </div>
            <div class="form-group text-light-pink">
                <label for="inputPassword"><b>PASSWORD</b></label>
                <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Password" formControlName="password">
            </div>
            <div class="form-group text-light-pink">
                <label for="inputName"><b>NAME</b></label>
                <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Name" formControlName="name">
            </div>
            <div class="form-group text-light-pink">
                <label for="inputLastName"><b>LASTNAME</b></label>
                <input type="text" class="form-control" id="inputLastName" aria-describedby="LastNameHelp" placeholder="Lastname" formControlName="lastname">
            </div>
            <div class="form-group text-light-pink">
                <label for="inputemail"><b>EMAIL</b></label>
                <input type="email" class="form-control" id="inputemail" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
            </div>
            <div class="text-right">
                <input class="button button-primary" type="submit" value="Sign up" data-target="#correctModal">
            </div>
        </form>
    </div>
</div>