/* You can add global styles to this file, and also import other style files */

body{
    background-color: rgb(66, 66, 66) !important;
}

.horizontal-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-align {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-light-violet {
    color: #a36aff;
}

.text-light-pink {
    color: #c860e7;
}

.correct-modal-header {
    background-color: #42b15c;
}

.fail-modal-header {
    background-color: #da4a59;
}

/* BUTTONS */

.button {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
    height: 4em;
    width: 10em;
}

.button-medium-slim{
    width: 8em !important;
}

.button-primary {
    color: #fff !important;
    background-color: #a36aff !important;
    border-color: #a36aff !important;

}

.button-primary:hover {
    color: #fff ;
    background-color: #6427c5 !important;
    border-color: #6427c5 !important;
}

.button-primary:focus,
.button-primary.focus {
    color: #fff;
    background-color: #6032a8;
    border-color: #6032a8;
    box-shadow: 0 0 0 0.2rem rgba(123, 175, 172, 0.5);
}
